extends ../layout

block head
  // Extra stuff that should go in <head> only for the login page
  link(rel="stylesheet", href="/base.css")
  link(rel="stylesheet", href="/login-styles.css")

block content
  .overlay
    .login-window
      h1 Welcome to GatorTrade!

      form(method="POST", action="/login")
        label(for="username") Username:
        input(type="text", id="username", name="username", required)

        label(for="password") Password:
        input(type="password", id="password", name="password", required)

        .buttons
          button(type="submit") Login
          a.create-account-link(href="/register") Create Account

      p.disclaimer
        | By creating an account, you agree to absolve us of all responsibility and liability in perpetuity.
        | GatorTrade is provided "as is" without warranty of any kind, either expressed or implied.