doctype html
html
  head
    meta(charset="utf8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title #{title}
    link(rel="stylesheet", href="/style.css")
  body
    if showNav !== false
      header
        nav.container
          ul
            if currentUser
              li: a(href="/dashboard") My Account
              li: a(href="/cart") Cart
              li: a(href="/store") Store
              li: a(href="/about") About
            else
              li: a(href="/about") About

          ul
            if currentUser
              li: span Hello, #{currentUser.username}
              li
                form(method="POST", action="/logout")
                  button(type="submit" class="secondary") Logout
            else
              li: a(href="/login") Login
              li: a(href="/register") Register

    main.container
      include partials/messages
      block content

    footer.container.footer
      small FOOTER: &copy; 2024 GatorTrade. All rights reserved.
