extends layout

block content
  .card.stock-page
    h1#headline= stock.name
    h2= '$' + price_rows.at(-1).price.toPrecision(5)

    // Chart box 
    script(type='text/javascript' src='https://www.gstatic.com/charts/loader.js')
    #chart_div

    h3= stock.description

    script(type='text/javascript').
      var prices = !{JSON.stringify(price_rows)};

    script(src='/stock.js')
